@import './colors.scss';

.cards-wrapper {
  padding: 20px;
  display: flex;
  margin: 0px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 480px;

  @include tablet {
    padding: 60px 32px;
    gap: 32px;
    max-width: 768px;
  }
  @include desktop {
    gap: 15px;
    max-width: 1280px;
    flex-basis: calc((100% - 60px) / 3);
  }
}

.card {
  padding-bottom: 20px;
  cursor: pointer;
  @include tablet {
    padding: 0px;
  }
  &__poster {
    width: 280px;
    height: 402px;
    @include tablet {
      width: 336px;
      height: 455px;
    }
    @include desktop {
      width: 395px;
      height: 574px;
    }
  }
  &__info {
    display: flex;
    gap: 9px;
  }
  &__quick-info {
    padding-top: 8px;
  }
  &__movie-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: $black;
  }
  &__movie-genre {
    display: inline;
    color: $cardSignSecondAndButtons;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
  }
  &__movie-release {
    display: inline;
    color: $cardSignSecondAndButtons;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
  }
  &__movie-rating {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 26px;
    align-items: center;
    text-align: center;
    padding: 1px 6px;
    background: $cardSignSecondAndButtons;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.06px;
    text-transform: uppercase;
    color: $footerBackground;
  }
}
