@import './colors.scss';

// write your code below

.cards-wrapper {
  padding: 20px 20px 0px 20px;
}

.card {
  padding-bottom: 20px;
  &__poster {
    width: 280px;
  }
  &__info {
    display: flex;
    gap: 9px;
  }
  &__quick-info {
    padding-top: 8px;
  }
  &__movie-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #000000;
  }
  &__movie-genre {
    display: inline;
    color: #ff6b08;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }
  &__movie-release {
    display: inline;
    color: #ff6b08;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }
  &__movie-rating {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 26px;
    align-items: center;
    text-align: center;
    padding: 1px 6px;
    background: #ff6b01;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.06px;

    text-transform: uppercase;
    color: #ffffff;
  }
}
