$white: #ffffff;
$underscoreHeader: #ff001b;
$black: #000000;
$cardSignSecondAndButtons: #ff6b08;
$backgroundOfWebsite: #e5e5e5;
$footerBackground: #f7f7f7;
$textFooter: #545454;
$modalText: #8C8C8C;
$backdrop: #00000040;