@import './colors.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  height: 100px;
  padding-top: 28px;
  @include tablet {
    flex-direction: row;
    justify-content: center;
    padding-top: 0;
    height: 79px;
  }
  &__first-line {
    padding-right: 4px;
  }
  &__second-line {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    @include tablet {
      margin-top: 0;
    }
  }
  &__heart {
    width: 14px;
    height: 13px;
    margin: 0 10px;
  }
  &__font {
    font-family: Roboto;
    color: #545454;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
  &__link-style {
    text-decoration: underline;
    padding-left: 3px;
  }
}
