.pagination {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33px;
  align-items: center;
  gap: 16px;
  padding-bottom: 40px;
  color: $black;

  & img {
    fill: $black;
    width: 16px;
    height: 16px;
  }
  &__other-page {
    background: none;
    border: none;
    cursor: pointer;
  }
  &__current-page {
    background-color: $cardSignSecondAndButtons;
    color: $white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
  }
}
#arrow-left,
#arrow-right {
  cursor: pointer;
}
#first-page,
#last-page,
#dots,
#arrow-left,
#arrow-right {
  display: none;
  @include tablet {
    display: flex;
  }
}

#dots {
  @include tablet {
    display: flex;
    align-items: flex-start;
    cursor: auto;
  }
}
